$primaryColor: #323278;
$textColor: rgba(2, 2, 17, 0.80);
$white: #ffffff;
$black: #020211;
$homeBannerGradient: linear-gradient(16deg, #020211 21.47%, #323278 213.52%);
$homeMidSectionGradient: linear-gradient(332deg, #020211 32.74%, #323278 130.14%);
